package ${package.ServiceImpl};

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import org.springframework.stereotype.Service;

/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */

#if(${kotlin})
@Service
@DynamicDataSource(type = DatabaseType.${package.ModuleName})
open class ${table.serviceImplName} : ${superServiceImplClass}<${entity}>(), ${table.serviceName} {

}
#else
#*#if(${superServiceImplClass})
public class ${table.serviceImplName} extends ${superServiceImplClass}<${entity}> implements ${table.serviceName} {
#else*#
@Service
@DynamicDataSource(type = DatabaseType.${package.ModuleName})
public class ${table.serviceImplName}  implements ${table.serviceName} {
#*#end*#
}
#end
